.DS_Store
.vscode
.env
.env.*
.venv
htmlcov/
dist/
build/
docs/build
.ipynb_checkpoints
.eggs
.tox
*egg-info
*__pycache__
.pytest_cache
.cache
coverage.xml
.coverage
pip-wheel-metadata
.python-version
.idea*
test.py
*.json
*.egg-info/
scripts/

check_models.py
imageTest*
sample-*
README-OLD.md
DEPLOYMENT.md
.pypirc