annotated-types==0.7.0
autodoc_pydantic==2.2.0
babel==2.17.0
beautifulsoup4==4.13.3
black==25.1.0
build==1.2.2.post1
cachetools==5.5.1
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
distlib==0.3.9
docutils==0.18.1
dotenv==0.9.9
filelock==3.17.0
idna==3.10
imagesize==1.4.1
iniconfig==2.0.0
Jinja2==3.1.5
MarkupSafe==3.0.2
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pyproject-api==1.9.0
pyproject_hooks==1.2.0
pytest==8.3.4
python-dotenv==1.2.1
requests==2.32.3
revitron-sphinx-theme @ git+https://github.com/mesozoic/revitron-sphinx-theme.git
setuptools==75.8.0
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==6.2.1
sphinx-basic-ng==1.0.0b2
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-googleanalytics==0.5
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxext-opengraph==0.13.0
tox==4.24.1
typing_extensions==4.12.2
urllib3==2.3.0
virtualenv==20.29.2
