name: CI Pipeline

on:
  push:
  pull_request:
    branches: [main]

jobs:
  test:
    name: Run tests on ${{ matrix.python }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.12"]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ hashFiles('setup.cfg') }}-${{ hashFiles('requirements-test.txt') }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox-gh-actions

      - run: tox
        env:
          COVERAGE_FORMAT: xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        if: ${{ !cancelled() && hashFiles('coverage.xml') }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}